.Users {
    padding-top: 20px;
}

.Users .excel-btn-container {
    padding: 12px;
}

.Users table {
    width: 100%;
}

.Users table tr {
    border: solid #cccccc;
    border-width: 0 0 1px;
}
.Users table tr:first-child {
    border-top-width: 1px;
}
.Users table tr:hover td {
    background-color: #eeeeee;
}

.Users table th {
    background-color: #eaeaea;
}

.Users table th, td {
    width: calc(100% / 5);
    padding: 12px;
}

.Users table .admin-btn {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    border-radius: 2px;
}

.admin-btn.inactive {
    border-color: #30BB6A;
    color: #ffffff;
    background-color: #30BB6A;
    transition: color 0.4s ease 0s;
}
.admin-btn.inactive:hover {
    background-color: #42bb81;
    border-color: #42bb81;
}

.admin-btn.active {
    border-color: #DE1B18;
    color: #ffffff;
    background-color: #DE1B18;
    transition: color 0.4s ease 0s;
}
.admin-btn.active:hover {
    background-color: #de1124;
    border-color: #de1124;
}
