body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
    color: #605E5E;
}

.font_0 {
    font: normal normal normal 40px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
}

.font_2 {
    font: normal normal normal 25px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
}

#root {
    width: 100%;
}
